@use '../include.scss';

.codeText {
  user-select: all;
  background-color: rgb(97, 97, 97);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.authButton {
  font-family: 'Roboto Mono', monospace;
  border-style: solid;
  font-size: xx-large;
  border-radius: 5px;
  background-color: #6834b4;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 100ms ease-in-out;
  padding: 5px;

  svg {
    transform: scale(1.5);
    margin-right: 0.5em;
    margin-left: 0.25em;
  }

  &:hover {
    background-color: #4b169c;
    color: white;
    border: #000 solid;
  }

  &::active {
    background-color: #4b169c;
    color: white;
  }
}

.info {
  user-select: none;
}

.link {
  @include include.link();
}
