@use './include.scss';

.link {
  @include include.link();
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

.linkbutton {
  font-family: 'Roboto Mono', monospace;
  font-size: xx-large;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1rem;

  transition: all 60ms ease-in-out;
  padding: 1rem;

  &:nth-of-type(1) {
    background-color: #ff5630;
  }

  &:nth-of-type(2) {
    background-color: #4c8bbd;
  }

  svg {
    transform: scale(1.5);
    margin-left: 0.25em;
  }

  span {
    margin: 0rem 1rem;
  }

  .downloadIcon {
    margin-left: auto;
    transition: all 400ms ease-in-out;
    transform: scale(1) rotate(0deg);
  }

  &:hover {
    transform: scale(1.1);

    &:nth-of-type(1) {
      background-color: lighten(#ff5630, 10%);
    }

    &:nth-of-type(2) {
      background-color: lighten(#4c8bbd, 10%);
    }

    .downloadIcon {
      animation: bounce 1s ease-in-out infinite;
    }
  }

  &::active {
    background-color: #4b169c;
    color: white;
  }
}

.rainbow {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  background-clip: text;
  color: transparent;
}

.title {
  a {
    color: #0070f3;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      text-decoration: underline;
    }

    &:active {
      text-decoration: underline;
    }
  }

  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
  width: 45%;

  &:hover {
    color: #0070f3;
    border-color: #0070f3;
  }

  &:focus {
    color: #0070f3;
    border-color: #0070f3;
  }

  &:active {
    color: #0070f3;
    border-color: #0070f3;
  }

  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
